<nav class="navbar navbar-expand-lg  bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="#"><img src="../../../assets/img/fantasma (3).png" height="30"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ">
        <a class="nav-link text-light" [routerLink]="['/home']" routerLinkActive="fw-bold"  >Home</a>
        <a class="nav-link text-light" [routerLink]="['/calendar']" routerLinkActive="fw-bold" >Calendar</a>
        <a class="nav-link text-light" [routerLink]="['/cashflow']" routerLinkActive="fw-bold" >Cash Flow</a>
      </div>
    </div>
  </div>
</nav>
