<section data-bs-theme="light" class="bg-light min-vh-100">
  <navbar-header></navbar-header>
  <div class="pt-5 row mx-0 px-3 pb-2 justify-content-center text-light bg-image"
    style="background-image: url(https://i.pinimg.com/originals/9a/af/a9/9aafa9c67a39717982a2936c3fcc60c0.jpg);">
    <div class="col-12 p-3">
      <h1 class="fs-1">July - <label class="fw-bold">War Machines</label></h1>
    </div>
    <div class="col-3  p-3 d-flex flex-column align-items-center justify-content-center">
      <span class="fs-1 mb-2"><mat-icon class="text-light mx-2">arrow_circle_up</mat-icon>60%</span>
      <span>Progress/today</span>
    </div>
    <div class="col-3  p-3 d-flex flex-column align-items-center justify-content-center">
      <span class="fs-1 mb-2">6.7</span>
      <span>Score/today</span>
    </div>
    <div class="col-3  p-3 d-flex flex-column align-items-center justify-content-center">
      <span class="fs-1 mb-2"><mat-icon class="text-light mx-2">arrow_circle_down</mat-icon>45%</span>
      <span>Progress</span>
    </div>
    <div class="col-3  p-3 d-flex flex-column align-items-center justify-content-center">
      <span class="fs-1 mb-2">8.5</span>
      <span>Score</span>
    </div>
  </div>
  <mat-tab-group class="w-100" color="accent">
    <!-- calendar -->
    <mat-tab label="Calendar">
      <div class="row mx-0 p-3 text-light">
        <div class="col-8 row mx-0">
          <calendar-gadget class="row" [calendar]="calendar"  [today]="today" (eventEmitter)="listener($event)"></calendar-gadget>
        </div>
        <div class="col-4">
          <div class="row mx-0" >
            <div class="col-md-6 p-1" *ngFor="let module of modules">
              <schedule-gadget [module]="module"></schedule-gadget>
            </div>
          </div>
        </div>
      </div>

    </mat-tab>
    <mat-tab label="Schedule">
      <div class="row mx-0 p-1 text-light">

        <div class="col-8 p-2">
          <planmonthly-gadget [okr]="okr" [modules]="modules"></planmonthly-gadget>
        </div>
        <div class="col-4 p-2">
          <div class="row mx-0" >
            <div class="col-12 py-2" *ngFor="let month of okr;let i=index">
              <planmonthlymodules-gadget [okr]="month" *ngIf="i>0"></planmonthlymodules-gadget>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Analysis">
      <!-- <linechart></linechart> -->
    </mat-tab>
  </mat-tab-group>

</section>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#dateDetail" id="dateDetailButton">
  Launch demo modal
</button>
<!-- date detail -->
<div class="modal fade" id="dateDetail" tabindex="-1"  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 mb-0" id="exampleModalLabel">{{dateSelected.date | date}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="dateForm">
          <!-- video game -->
          <mat-form-field class="col-md-6 col-sm-12 p-2">
            <mat-label>Video Game</mat-label>
            <mat-select formControlName="videogame">
              <mat-option [value]="score.value" *ngFor="let score of scores">{{score.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- anime -->
          <mat-form-field class="col-md-6 col-sm-12 p-2">
            <mat-label>Anime</mat-label>
            <mat-select formControlName="anime">
              <mat-option [value]="score.value" *ngFor="let score of scores">{{score.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- course -->
          <mat-form-field class="col-md-6 col-sm-12 p-2">
            <mat-label>Course</mat-label>
            <mat-select formControlName="course">
              <mat-option [value]="score.value" *ngFor="let score of scores">{{score.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- work -->
          <mat-form-field class="col-md-6 col-sm-12 p-2">
            <mat-label>Work</mat-label>
            <mat-select formControlName="work">
              <mat-option [value]="score.value" *ngFor="let score of scores">{{score.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- Gym -->
          <mat-form-field class="col-md-6 col-sm-12 p-2">
            <mat-label>Gym</mat-label>
            <mat-select formControlName="gym">
              <mat-option [value]="score.value" *ngFor="let score of scores">{{score.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- book -->
          <mat-form-field class="col-md-6 col-sm-12 p-2">
            <mat-label>Book</mat-label>
            <mat-select formControlName="book">
              <mat-option [value]="score.value" *ngFor="let score of scores">{{score.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- serie -->
          <mat-form-field class="col-md-6 col-sm-12 p-2">
            <mat-label>Serie</mat-label>
            <mat-select formControlName="serie">
              <mat-option [value]="score.value" *ngFor="let score of scores">{{score.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" mat-raised-button color="primary" (click)="save(dateSelected['index'] ?? -1)">Save</button>
        <button type="button" mat-button data-bs-dismiss="modal" id="close-date-detail">Close</button>
      </div>
    </div>
  </div>
</div>
