


<div class="col-2 p-2" *ngFor="let date of calendar;let i=index">
  <div class="card" matRipple [ngClass]="{'border border-info border-3': today==i+1,'bg-dark text-light':!date.active}"  (dblclick)="openModal(date,i)">
    <div class="card-header py-1 px-2">
      <span>{{date.date | date}}</span>
    </div>
    <div class="card-body p-1 px-2 d-flex" >
      <h1 class="fs-3 mb-1 " *ngIf="date.active"
        [ngClass]="{'text-danger': date.score<7,'text-success': date.score>8,'text-warning': date.score>=7 && date.score<=8}">
        {{date.score | number:'1.1-1'}}</h1>
      <!-- emoji -->
      <h1 class="fs-5 mb-1 " *ngIf="!date.active">0.0</h1>
    </div>
  </div>
</div>

